@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.logo img {
    width: 100%;
    object-fit: contain;
}

.createButtons {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: 30px auto 30px auto;
}

.createButtons button,
.logOutBtn button {
    padding: 10px 15px;
    color: #fff;
    background: #0066b3;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.createButtons button,
.toggleButtons button {
    width: 170px;
}


.createButtons button:hover,
.logOutBtn button:hover,
.toggleButtons button:hover {
    opacity: .7;
    transition: .2s;
}

.line {
    height: 2px;
    background: #8dc63f;
    width: 90%;
    margin: 30px auto;
}

.containers {
    width: 90%;
    margin: 0 auto 0 auto;
}

.toggleButtons {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.toggleButtons button {
    padding: 10px 15px;
    color: #fff;
    background: #0066b3;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.hero {
    margin: 20px 0;
    border: 1px solid #0066b3;
    border-radius: 2px;
}

.detailsOfClass {
    height: 400px;
    overflow-y: scroll;
}

.hidden {
    display: none !important;
}

.createClassComp,
.createStudentComp,
.AttendanceModal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    display: flex;
    align-items: center;
}

.classCreateForm,
.studentCreateForm {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #fff;
    display: flex;
    align-items: center;
}

.AttendanceModal>div {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classCreateForm label,
.studentCreateForm label {
    cursor: pointer;
}

.formComp {
    margin: 0 auto;
    width: 70%;
}

.rows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.rows div {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #0066b3;
}

.rows div:nth-child(2) {
    align-items: flex-end;
}

.rows div input {
    width: 80%;
    border: 1px solid #8dc63f;
    outline: none;
    transition: .2s;
    padding: 15px;
    cursor: pointer;
}

select {
    width: 80%;
    border: 1px solid #8dc63f;
    outline: none;
    transition: .2s;
    padding: 15px;
}


.rows div input:focus,
.rows div input:hover {
    border: 1px solid #0066b3;
    transition: .2s;
}

.submitBtn {
    width: 100%;
    margin-top: 100px;
}

.submitBtn button {
    width: inherit;
    background: #0066b3;
    color: #fff;
    padding: 15px;
    border: none;
    transition: .2s;
    cursor: pointer;
}

.submitBtn button:hover {
    opacity: .6;
    transition: .2s;
}

.closeBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    background: #0066b3;
    padding: 0 10px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

#tableHead {
    background-color: #0066b3 !important;
    color: #fff;
}

.attendanceBtn {
    padding: 4px 8px;
    background: #0066b3;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}

.attendanceBtn:hover {
    opacity: .7;
    transition: .2s;
}

.searchBar {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input {
    padding: 16px 30px 16px 10px;
    border: 1px solid #0066b3;
    border-radius: 2px;
    outline: none;
    width: 90%;
    transition: .2s;
}

.searchBar input:hover,
.searchBar input:focus,
.searchBar input:active {
    border: 1px solid #8dc63f;
    transition: .2s;
}


.searchBar input:hover~i,
.searchBar input:active~i,
.searchBar input:focus~i {
    color: #8dc63f;
    transition: .2s;
}

.searchBar i {
    transition: .2s;

}


.attendanceBar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    width: 90%;
    margin-top: 5px;
}

.attendanceBar select {
    border: 1px solid #0066b3;

}

.attendanceBar button {
    padding: 0 20px;
    background: #0066b3;
    border: none;
    color: #fff;
    transition: .2s;
    cursor: pointer;
}

.attendanceBar button:hover {
    opacity: .8;
    transition: .2s;
}

.searchBar i {
    color: #0066b3;
    margin-left: -26px;
    cursor: pointer;
}

.dummyImage {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.box {
    width: 300px;
    height: 350px;
    border: 1px solid #0066b3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box .line {
    background: #0066b3 !important;
    margin: 10px 0 !important;
}

.head {
    color: #0066b3;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 20px;
}

.picture {
    width: 70%;
    border: 1px solid #0066b3;
}

.picture img {
    width: 100%;
}

.name {
    margin: 10px 0;
    font-weight: bold;
}

.rollNumber {
    color: #0066b3;
    border: 1px solid #0066b3;
    padding: 10px;
}

.courseName {
    background: #0066b3;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}







/* Swal */

.swal-icon {
    border-color: #0066b3;
}

.swal-icon--error__line {
    background: #0066b3;

}

.swal-button {
    background: #0066b3 !important;
}